<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
</head>


<body>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'order_list' %}">
                Все заказы
            </a>
            <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </button>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'create_order' %}">Создать заказ</a>
                <a class="navbar-item" href="{% url 'today_orders' %}">Заказы сегодня</a>
                <a class="navbar-item" href="{% url 'today_profit' %}">Выручка</a>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        {% if messages %}
            <div class="notification is-primary">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const burger = document.querySelector('.navbar-burger');
            const menu = document.getElementById('navbarMenu');

            burger.addEventListener('click', () => {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        });
    </script>
</body>
</html>
